variables:
  PACKAGE_DEPLOY_ROOT: "/util/opt/anaconda/deployed-conda-envs"
  HCC_APPS_DB_BCRF_PATH: "/work/HCC/BCRF/app_specific"
  CONDA_OVERRIDE_CUDA: "12.9"
  MAMBA_NO_BANNER: 1
  ANACONDA_PROJECT_DISABLE_OVERRIDE_CHANNELS: 1

stages:
  - test
  - deploy

test-swan:
  stage: test
  image: unlhcc/swan-build
  variables:
    ANACONDA_PREFIX: "/anaconda"
    PY_VER: "3.11"
    AP_VER: "0.11.1"
    AC_VER: "1.13.1"
    MINICONDA_VER: "25.7.0"
    MAMBA_VER: "2.3.3"
    HCC_APPS_DB_BCRF_PATH: "/tmp"
  except:
    - master
  tags:
    - swan
  before_script:
    - scripts/gitlabci-setup.sh
  script:
    - scripts/test_changed_packages.sh
  retry: 2

deploy-swan:
  stage: deploy
  environment:
    name: swan_production
    url: https://swan.unl.edu
  resource_group: production-swan
  image: unlhcc/swan-build
  variables:
    ANACONDA_PREFIX: "/util/opt/anaconda/25.3.1/envs/anaconda-project-0.11.1"
    DEPLOY_HOST: "SWAN"
  only:
    - master
  tags:
    - swan
  before_script:
    - eval $(ssh-agent -s) > /dev/null
    - mkdir -p ~/.ssh
    - chown 700 ~/.ssh
    - echo $SSH_KNOWN_HOSTS > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - ssh-add <(echo "$SSH_PRIVATE_KEY" | base64 --decode)
  script:
    - cd $PACKAGE_DEPLOY_ROOT
    - git checkout master
    - git fetch
    - git checkout $CI_COMMIT_SHA
    - scripts/deploy_all_packages.sh
  retry: 2
